Harry Potter Series{display:block}
1st Part{font-family:bradley hand itc;color:#800000;font-size:12}
2nd Part{font-family:arial;color:#152005;font-size:13}
3rd Part{font-family:algerian;color:#168003;font-size:14}
4th Part{font-family:times roman;color:#852754;font-size:15}
5th Part{font-family:arial;color:#750328;font-size:16}
6th Part{font-family:cooper black;color:#997112;font-size:17}
7th Part{font-family:verdana;color:#927823;font-size:18}